<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

  <% if (title) { %>
  <title><%= title %></title>
  <% } %> 

  <% if (stylesheets.length) {
    stylesheets.forEach(stylesheet => { %>
  <link rel="stylesheet" href="<%= stylesheets %>">
    <% });
  } %>
</head>
<body>